.button {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: xx-large;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #1191da;
  border-radius: 20px;
  display: table-cell;
  width: 48%;
  min-height: 200px;
}
.actiontable {
  width:80%;
  height: 200px;
  border: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 200px;
}

.body {
  background-color: #cccccc;
}